<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Gestion de réservation</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
    </head>
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>

    <body >

        <div class="container mt-5">
            <div class="text-center">
                <h1 class="display-4">Système de Réservation Tennis</h1>
            </div>

            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Membres</h5>
                            <p class="card-text">Gérer les membres</p>
                            <a th:href="@{membrePage}" class="btn btn-primary">Accéder</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Réservations</h5>
                            <p class="card-text">Gérer les réservations</p>
                            <a th:href="@{reservationPage}" class="btn btn-primary">Accéder</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Terrains</h5>
                            <p class="card-text">Gérer les terrains</p>
                            <a th:href="@{terrainPage}" class="btn btn-primary">Accéder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
