<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gestion de reservation tennis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
</head>
<body>
<div class="container my-4">
    <hr>
    <h1 class="text-center">Modifier membre</h1>
    <hr>
    <form th:action="@{updateMembre}" th:object="${membre}" method="post">
        <div class="row bg-light gy-3 my-4 p-3">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}">
                    <label for="inputName" class="form-label">Nom</label>
                    <input type="text" name="nameInput" th:field="*{nom}" id="inputName" class="form-control">
                    <span th:errors="*{nom}" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputPrenom" class="form-label">Prénom</label>
                    <input type="text" name="inputPrenom" th:field="*{prenom}" id="inputPrenom"
                           class="form-control">
                    <span th:errors="*{prenom}" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dateInput" class="form-label">Date de naissance</label>
                    <input type="date" name="dateInput" th:field="*{dateNaiss}" id="dateInput"
                           class="form-control">
                    <span th:errors="*{dateNaiss}" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 fs-5 mt-5">
                <span class="me-5">En ordre de paiement</span>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="inputEnOrdre" th:field="*{enOrdre}"
                           id="inputEnOrdreOui" value="true">
                    <label for="inputEnOrdreOui" class="form-check-label me-3">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="inputEnOrdre" th:field="*{enOrdre}"
                           id="inputEnOrdreNon" value="false">
                    <label for="inputEnOrdreNon" class="form-check-label">Non</label>
                </div>
                <span th:errors="*{enOrdre}" class="text-danger"></span>
            </div>
            <div class="col-12 my-4">
                <button type="submit" class="btn btn-warning col-12 col-md-2">Enregistrer</button>
                <a th:href="@{/membrePage}" class="btn btn-danger col-12 col-md-2 my-2 my-md-0">Annuler</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
